.DS_Store
.idea/
logs/
*.out
*.err
*.log
.ipynb_checkpoints/
__pycache__/
airflow.db
Airflow/
*.pid
*.cfg
*.iml
webserver_config.py
dags/__pycache__
dags/.ipynb_checkpoints
standalone_admin_password.txt
